<div class="app-product-detail-content clearfix" *ngIf="product != null">

  <div class="app-product-detail-back hidden-xs hidden-sm">
    <a (click)="goBack()" class="app-product-detail-back-link app-cursor-icon">
      <span class="app-icon app-icon-arrow-left"></span>
      <span class="link-back">{{'productDetail.back'| translate}}</span>
    </a>
  </div>


  <div class="app-product-detail-container container">

    <div class="app-product-detail-main flex-md-row flex-md-h-between flex-lg-row flex-lg-h-between">
      <div class="app-product-detail-image hidden-xs hidden-sm">
        <div>
          <img src="{{product.url}}">
        </div>
      </div>

      <div class="app-product-detail-data">
        <div class="app-product-detail-data-title-price flex-xs-row flex-xs-h-between flex-sm-row flex-sm-h-between flex-md-col flex-lg-col">
          <div class="app-product-detail-data-title flex-xs-row flex-xs-h-start flex-sm-row flex-sm-h-start">
            <span class="hidden-md hidden-lg">
              <a (click)="goBack()" class="app-product-detail-back-link app-cursor-icon">
                <span class="app-icon app-icon-arrow-left"></span>
              </a>
            </span>
            <span [innerHtml]="product.title"></span>
          </div>
          <div class="app-product-detail-data-price flex-xs-col flex-sm-col flex-md-row flex-md-h-start flex-lg-row flex-lg-h-start" *ngIf="isRegistered()">
            <span class="app-product-detail-data-price" *ngIf="product.price">{{product.price}} €</span>
          </div>
        </div>

        <div class="app-product-detail-image hidden-md hidden-lg">
          <img appImgDefault src="{{product.url}}" class="img-fluid" alt="Detail image">
        </div>

        <div class="app-product-detail-data-description">
          <span *ngIf="product.description" [innerHtml]="product.description"></span>
        </div>

        <div class="app-product-detail-data-allergens" *ngIf="product.allergens">
          <app-allergens-panel [allergens]="product.allergens"></app-allergens-panel>
        </div>

        <div class="noselect input-group elementForm app-product-detail-data-quantity flex-xs-row flex-xs-h-between flex-sm-row flex-sm-h-between flex-md-row flex-md-h-between flex-lg-row flex-lg-h-between" *ngIf="isRegistered()">
          <div class="app-product-detail-data-quantity-title">
            <span class="text-uppercase">{{'productDetail.quantity' | translate}}</span>
          </div>
          <div class="app-product-detail-data-quantity-actions">
            <a class="app-product-detail-data-quantity-actions-less app-cursor-icon" [ngClass]="{'disabled': quantity == 1}" (click)="lessQuantity()">
              <span class="app-icon app-icon-less"></span>
            </a>
            <span class="app-product-detail-data-quantity-actions-quantity">{{quantity}}</span>
            <a class="app-product-detail-data-quantity-actions-more app-cursor-icon" (click)="moreQuantity()">
              <span class="app-icon app-icon-more"></span>
            </a>
          </div>
        </div>
        <div class="app-product-detail-data-add-action" *ngIf="isRegistered()">
          <button type="submit" class="btn app-btn app-btn-primary" (click)="addProduct()">
            <span class="app-icon app-icon-cart"></span> {{'productDetail.add' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
