<div class="app-legal-info flex-lg-row flex-lg-h-between flex-md-row flex-md-h-between hidden-xs hidden-sm">
  <span class="app-legal-info-copyright">{{'footer.copyright'| translate}}</span>
  <span class="app-legal-info-address">{{'footer.address'| translate}}</span>
  <span class="app-legal-info-mail">
    <a href="mailto:{{'footer.mail'| translate}}">{{'footer.mail'| translate}}</a>
  </span>
</div>

<div class="app-legal-info hidden-md hidden-lg">
  <div>
    <span class="app-legal-info-copyright">{{'footer.copyright'| translate}}</span>
    <span class="app-legal-info-mail">
      <a href="mailto:{{'footer.mail'| translate}}">{{'footer.mail'| translate}}</a>
    </span>
  </div>
  <div>
    <span class="app-legal-info-address">{{'footer.address'| translate}}</span>
  </div>

</div>
