<div class="app-info-panel-main">
    <div class="app-info-panel-item app-info-panel-item-icon no-float">
      <span class="glyphicon" aria-hidden="true">i</span>
    </div>
    <div class="app-info-panel-item app-info-panel-item-message no-float">{{'infoLegal.legalPanel.message1' | translate}} <a appHref href="./legal-info#cookies" target="_blank">{{'infoLegal.legalPanel.textLink' | translate}}</a>{{'infoLegal.legalPanel.message2' | translate}}</div>
    <div class="app-info-panel-item app-info-panel-item-button no-float">
      <button class="btn app-btn app-btn-info text-uppercase" type="button" (click)="saveCookie()" >{{'infoLegal.legalPanel.acceptButton' | translate}}</button>
    </div>
</div>
