<div class="app-private-zone-details-item-product-content row">
  <div class="app-private-zone-details-item-product-image col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <img appImgDefault [src]="product.url" alt="">
  </div>

  <div class="app-private-zone-details-item-product-title col-xs-8 col-sm-8 col-md-4 col-lg-4">
    <div class="title color-k" [innerHtml]="product.title"></div>
    <div class="app-private-zone-details-item-product-prices hidden-md hidden-lg">
      <span class="app-private-zone-details-item-product-price color-k" *ngIf="product.price">
        {{product.price}} €
      </span>
      <span class="quantity color-k">x
        <strong>{{quantity}}</strong>
      </span>
    </div>
  </div>

  <div class="app-private-zone-details-item-product-prices text-center col-lg-2 col-md-2 hidden-xs hidden-sm"
    *ngIf="product.price !== null">
    <span class="app-private-zone-details-item-product-price color-k" *ngIf="product.price">{{product.price}} €</span>
  </div>

  <div class="noselect private-zone-details-item-quantity col-lg-1 col-md-1 hidden-xs hidden-sm">
    <span class="quantity color-k">x
      <strong>{{quantity}}</strong>
    </span>
  </div>
  <div class="app-private-zone-details-item-product-total col-xs-2 col-sm-2 col-md-3 col-lg-3 color-k" *ngIf="total">
    <strong>{{total}} €</strong>
  </div>
</div>
